@import java.util.Date
@import views.html.helper._
@import services.SimbaHTMLHelper._
@import models.OrderMenu
@import models.OrderMenuItem
@(title: String,
        formCall: Call,
        oF: Form[OrderForEditAndCreate],
        buttonLabel: String,
        inMenu: List[OrderMenu],
        isCreate: Boolean,
        inOrderToTextCost: Map[String, (String, Int)],
        possibleIdAfterAddingCustomer: Option[Int] = None
)(implicit requestHeader: MessagesRequestHeader)

    @createAMenuDropDown(menuTitle: String, inMenu: List[OrderMenuItem]) = {
    @if(inMenu.length == 1) {
        <button class="btn btn-info" type="button" onclick="addToOrder('@{inMenu.head.value}', '@{inMenu.head.titleOnDisplay}', '@{inMenu.head.cost}')">@{
            inMenu.head.titleOnDisplay
        }</button>
    } else {
        @createDropDown(menuTitle, inMenu, (i: OrderMenuItem) => {
            getStandardDropItem(i.titleOnDisplay, JavaScript(s"addToOrder('${i.value}', '${i.titleOnDisplay}', '${i.cost}')"))
        })
    }
    }

    @createInputInOrder = {
        <div class="container-fluid row">
            <input type="text" id="inOrder" name="inOrder" value="@getValueFromForm("inOrder", oF).getOrElse("")" class="col-1" style="display: none">
            <div class="container-fluid row">
                <ul id="orderList" class="list-group">
                @if(!isCreate) {
                    @getAllArrayInputFromForm(oF, "inOrder", addToDisplay, (s: String) => {
                        inOrderToTextCost(s)
                    })
                }
                </ul>
            </div>
            <div class="container-fluid row">
            @inMenu.map(menu => createAMenuDropDown(menu.titleOnDisplay, menu.menuItems))
            </div>
        </div>
    }

    @addToDisplay(textCost: (String, Int), index: Int) = {
        <li class="list-group-item" id="element@index">
            @textCost._1
            <input id="inOrder[]" name="inOrder[]" value="@{textCost._1}" style="display: none">
            <button type="button" class="close" aria-label="Close" onclick="deleteFromOrder('@index', '@textCost._2')"><span aria-hidden="true">&times;</span></button>
        </li>
    }

    @getCustomerSearch = {
    @if(isCreate) {
        <div id="customerInformation" class="row container-fluid">
        @getStandardSearchDiv(None, Option("Тут можна знайти Клієнта"), Option(routes.CustomerController.toCreateCustomerPageForOrder()), withSideJS = true)
        </div>
    } else {

    }
    }


    @createBooleanInput(nameInForm: String, trueLabel: String, falseLabel: String, checked: Boolean = false, col: String = "auto", jsOnclick: JavaScript) = {
        <input id="@nameInForm" name="@nameInForm" value="@checked" style="display: none">
    @if(checked) {
        <button id="@nameInForm-button" class="btn col-@col btn-success" type="button" onclick="@jsOnclick">
        @trueLabel
        </button>
    } else {
        <button id="@nameInForm-button" class="btn col-@col btn-danger" type="button" onclick="@jsOnclick">
        @falseLabel
        </button>
    }
    }

    @main(title) {
        <div class="container-fluid">
        @getCustomerSearch
        </div>
        @form(formCall, Symbol("id") -> "mainForm") {
            <fieldset>
                @CSRF.formField
                <input id="customerId" name="customerId" type="number" style="display: none">
                <input id="addressId" name="addressId" type="number" style="display: none">

                <input name="orderDay" type="text" value="@formattingDateForForm(new Date())" style="display: none">
                <input name="deliveryDay" type="text" value="@getNextSundayFromCornetWeek" style="display: none">

                <label class="label" for="dataInput">Час доставки </label>
                <div id="dataInput" class="container-fluid row">
                    <input id="deliverFrom" name="deliverFrom" type="text" class=" col-auto">
                    <b class="col-auto"> По </b>
                    <input id="deliverTo" name="deliverTo" type="text" class=" col-auto">
                </div>

                <input id="total" name="total" value="@getValueFromForm("total", oF).getOrElse("")" type="text" style="display: none;">
                <label>Всьго</label>
                <h5 id="totalText">@getValueFromForm("total", oF).getOrElse("0") ₴</h5>
                <div id="paymentDIV">
                    <input id="payment" type="text" style="display: none;">
                    <div id="paymentMenu">
                    @createDropDown("Спосіб Оплати", List("Готівка", "Карткою", "Бартер"), (s: String) => { // TODO: Add to database remove hardCode
                        val id = "paymentItem"
                        getStandardDropItem(s, JavaScript(s"setPayment('$s')"), id)
                    })
                    </div>
                </div>

                <div class="container-fluid row">
                    @createBooleanInput("paid", "Оплаченно", "Не оплаченно", getCheckBoxValue("paid", oF),
                        jsOnclick = JavaScript("changeButton(`Оплаченно`, `Не оплаченно`, `paid`, 0);")
                    )
                    @createBooleanInput("delivered", "Доставленно", "Не доставленно", getCheckBoxValue("delivered", oF),
                        jsOnclick = JavaScript("changeButton(`Доставленно`, `Не доставленно`, `delivered`, 0);")
                    )
                </div>

                <div class="container-fluid row">
                    @createBooleanInput("offlineDelivery", "За межами Доставки", "За межами Доставки", getCheckBoxValue("paid", oF),
                        jsOnclick = JavaScript("changeButton(`За межами Доставки`, `За межами Доставки`, `offlineDelivery`, 75);")
                    )
                    @createBooleanInput("deliveryOnMonday", "Доставка у Понеділок", "Доставка у Понеділок", getCheckBoxValue("delivered", oF),
                        jsOnclick = JavaScript("changeButton(`Доставка у Понеділок`, `Доставка у Понеділок`, `deliveryOnMonday`, 100);")
                    )
                </div>

                @createInputInOrder

                @createTextArea("note", "Нотатка", inTextArea = if(oF.value.isDefined) oF.value.head.note else Option(""))
            </fieldset>

            <div class="actions">
                <input type="submit" value="@buttonLabel" class="btn btn-primary"> Або
                <a href="@routes.OrderController.toOrderFeedPage("")" class="btn">Скасувати</a>
            </div>
        }
        <script charset="UTF-8" src="@routes.Assets.versioned("javascript/orderScript.js")"></script>
        <script id="runtimeScript">
                $(document).ready(function () {
                    if (@possibleIdAfterAddingCustomer.isDefined) {
                        $.get("/searchCustomerForOrderById/" + @possibleIdAfterAddingCustomer.getOrElse(0), function (data) {
                            /**
                             * Won't use -1
                             * */
                            setCustomerAddAddressDropdown(-1, data)
                        })
                    }
                    $("input").keypress(function (e) {
                        if (e.which === 13) {
                            let inputSelector = `input[type="text"]`;
                            let index = $(inputSelector).index(this);
                            $(inputSelector).eq(index + 1).focus();
                            e.preventDefault();
                        }
                    });
                    $("#search").keyup(function () {
                        let searchParams = $("#search").val()
                        if (searchParams.length === 0) cleanDropMenu();
                    });
                    $("#searchSubmit").click(function () {
                        let searchParams = $("#search").val()
                        $.get("/searchCustomerForOrder?search=" + searchParams, function (json) {
                            takeCustomerJSONAddToUI(json)
                        })
                    });
                })
        </script>
        @* <script charset="utf-8" type="text/javascript" src="@routes.HomeController.javascriptRoutes"></script> *@
    }