@import views.html.helper._
@import services.SimbaHTMLHelper._
@import java.util.Date

@(menuType: String, executionDate: Date, oF: Form[SettingOffer])(implicit requestHeader: MessagesRequestHeader)

@getSearchForRecipes = {
    <div id="searchDIV">
        <form class="form-inline md-form mr-auto mb-4 input-group">
            <input id="search" class="form-control mr-sm-2 dropdown-toggle" type="search" placeholder="Пошук" aria-label="Search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <button id="searchSubmit" class="btn btn-primary btn-rounded btn-sm my-0" type="button">Пошук</button>
            <div id="searchMenu" class="dropdown-menu">
                <span class="dropdown-header">Тут можна знайти рецепти</span>
            </div>
        </form>
    </div>
}


@main(menuTypeToTittleForOfferCreatePage(menuType)) {
    @if(oF.hasErrors) {
        <div class="alert-danger"><strong>Рецептів занато мало</strong></div>
    }
    @getSearchForRecipes
    @form(routes.OfferController.setOffer(menuType)) {
        @CSRF.formField
        <input name="menuType" value="@menuType" style="display: none">
        <input name="executionDate" value="@executionDate" style="display: none">
        <ul id="inOffer"></ul>
        <input class="btn btn-primary" type="submit" value="Встановити">
    }

    <script id="runTimeScript">
            $(document).ready(function () {
                $('#searchSubmit').click(function () {
                    let searchParams = $("#search").val()
                    $.get("/searchResipeForOffer?name=" + searchParams, function (json) {
                        takeRecipesJSONAddToDropDown(json)
                    })
                })

                $("#search").keyup(function () {
                    let searchParams = $("#search").val()
                    if (searchParams.length === 0) cleanDropMenu();
                });
            })
    </script>
    <script src="@routes.Assets.versioned("javascript/offerScript.js")"></script>
}