@(cF: Form[Customer])(implicit requestHeader: MessagesRequestHeader)

@import views.html.helper._

@creteAnInput(keyInForm: String, label: String, layOutClass: String = "") = {
    @inputText(cF(keyInForm), '_label -> label, '_help -> "",'_class -> layOutClass)
}

@mainView("Новий Клієнт") {
    <h1>Додати нового Клієнта</h1>

    @form(routes.CustomerController.createCustomer()) {
        <fieldset>
            @CSRF.formField
            <div class="container-fluid row">
                @creteAnInput("firstName", "Ім'я *", "col1")
                @creteAnInput("lastName", "Прізвище", "offset col-auto")
            </div>

            <div class="container-fluid row">
                @creteAnInput("phone", "Телефон *", "colFirst")
                @creteAnInput("phoneNote", "Як звиртатися", "offset col-auto")
            </div>
            <div class="container-fluid row">
                @creteAnInput("phone2", "Додатковий Телефон", "colFirst")
                @creteAnInput("phoneNote2", "Власник Дод. Телефону", "offset col-auto")
            </div>
            <div class="container-fluid row">
                @creteAnInput("city", "Місто *", "colFirst")
                @creteAnInput("address", "Адресса *", "offset col-auto")
                @creteAnInput("flat", "Квартира", "offset col-auto")
                @creteAnInput("entrance", "Під'їзд", "offset col-auto")
                @creteAnInput("floor", "Поверх", "offset col-auto")
            </div>
            @creteAnInput("instagram", "Instagram")
            @creteAnInput("preferences", "Надає перевагу")
            @creteAnInput("notes", "Нотатка")
        </fieldset>

        <div class="actions">
            <input type="submit" value="Додати Нового Клієнта" class="btn-primary"> Або
            <a href="@routes.CustomerController.toCustomersListPage()" class="btn">Скасувати</a>
        </div>
    }

}