@(title: String, formCall: Call, cF: Form[Customer], buttonLabel: String, xButton: Boolean = false)(implicit requestHeader: MessagesRequestHeader)
@import views.html.helper._

    @creteAnInput(keyInForm: String, label: String, layOutClass: String = "", showError: Boolean = false) = {
        @if(showError) {
            @inputText(cF(keyInForm), '_label -> label, '_help -> "", '_error -> "", '_class -> layOutClass)
        } else {
            @inputText(cF(keyInForm), '_label -> label, '_help -> "",'_class -> layOutClass, Symbol("class") -> "")
        }
    }
    @showError(keyInForm: String) = @{
        cF.error(keyInForm) match {
        case None => false
        case Some(value) => true
    }
}

@main(title) {

    @form(formCall) {
        <fieldset>
            @CSRF.formField
            <div class="container-fluid row">
                @creteAnInput("firstName", "Ім'я *", "col1", showError("firstName"))
                @creteAnInput("lastName", "Прізвище", "offset col-auto")
            </div>

            <div class="container-fluid row">
                @creteAnInput("phone", "Телефон *", "colFirst", showError("phone"))
                @creteAnInput("phoneNote", "Нотатка Телефону", "offset col-auto")
            </div>
            <div class="container-fluid row">
                @creteAnInput("phone2", "Додатковий Телефон", "colFirst")
                @creteAnInput("phoneNote2", "Нотатка Дод. Телефону", "offset col-auto")
            </div>
            <div class="container-fluid row">
                @creteAnInput("city", "Місто *", "colFirst", showError("city"))
                @creteAnInput("address", "Адреса *", "offset col-auto", showError("address"))
                @creteAnInput("entrance", "Під'їзд", "offset col-auto")
                @creteAnInput("floor", "Поверх", "offset col-auto")
                @creteAnInput("flat", "Квартира", "offset col-auto")
            </div>
            @creteAnInput("instagram", "Instagram")
            @creteAnInput("preferences", "Надає перевагу")
            @creteAnInput("notes", "Нотатка")
        </fieldset>

        <div class="actions">
            <input type="submit" value="@buttonLabel" class="btn btn-primary"> Або
            <a href="@routes.CustomerController.toCustomersListPage("", "")" class="btn">Скасувати</a>
        </div>
    }
    @if(xButton) {
        <div class="container-fluid">
            @form(routes.HomeController.importFromCVS()){
                @CSRF.formField
                <input type="submit" value="Додати купу" class="btn btn-danger">
            }
        </div>
    } else {}
}
