@import java.util.Date
@(title: String, formCall: Call, oF: Form[PlayOrderForEditAndCreate], buttonLabel: String, isCreate: Boolean = false)(implicit requestHeader: MessagesRequestHeader)
@import views.html.helper._
@import services.SimbaHTMLHelper._

@creteAnInputText(keyInForm: String, label: String, layOutClass: String = "", showError: Boolean = false) = {
    @if(showError) {
        @inputText(oF(keyInForm), '_label -> label, '_help -> "", '_error -> "", '_class -> layOutClass)
    } else {
        @inputText(oF(keyInForm), '_label -> label, '_help -> "",'_class -> layOutClass, Symbol("class") -> "")
    }
}
@showError(keyInForm: String) = @{
    oF.error(keyInForm) match {
        case None => false
        case Some(value) => true
    }
}

@createADropItem(title: String, name: String, value: String) = {
    <a class="dropdown-item" href="#" onclick="let @name = '@value'; let title = '@title';
            addToOrder(@name, title)">@title</a>
}
@createADropDown(menuTitle:String, id: String, typeOfMenu: String) = {
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="@id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @menuTitle
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @createADropItem(s"5 на 2 $menuTitle ", "fiveOnTwo", s"5 on 2($typeOfMenu)")
            @createADropItem(s"5 на 4 $menuTitle ", "fiveOnFour", s"5 on 4($typeOfMenu)")
            @createADropItem(s"3 на 2 $menuTitle ", "threeOnTwo", s"3 on 2($typeOfMenu)")
            @createADropItem(s"3 на 4 $menuTitle ", "threeOnFour", s"3 on 4($typeOfMenu)")
            @createADropItem(s"$menuTitle 1 ", typeOfMenu + "One", s"1($typeOfMenu)")
            @createADropItem(s"$menuTitle 2 ", typeOfMenu + "Two", s"2($typeOfMenu)")
            @createADropItem(s"$menuTitle 3 ", typeOfMenu + "Tree", s"3($typeOfMenu)")
            @createADropItem(s"$menuTitle 4 ", typeOfMenu + "Four", s"4($typeOfMenu)")
            @createADropItem(s"$menuTitle 5 ", typeOfMenu + "Five", s"5($typeOfMenu)")
        </div>
    </div>
}

@inputStuffInOrder = {
    <div class="container-fluid row">
        <input type="text" id="inOrder" name="inOrder" value="" class="col-1" style="display: none">
        <div class="container-fluid row">
            <ul class="list-group">
            </ul>
        </div>
        <div class="container-fluid row">
        @createADropDown("Класичне", "classicMenu", "classic")
        @createADropDown("Лайт", "liteMenu", "lite")
        @createADropDown("Сніданок", "breakfastMenu", "breakfast")
        <button class="btn btn-info" href="#" type="button" onclick="let soup = 'soup'; let title = 'Суп';
        addToOrder(soup, title)">Суп</button>
        <button class="btn btn-info" href="#" type="button" onclick="let desert = 'desert'; let title = 'Десерт';
        addToOrder(desert, title)">Десерт</button>
        </div>
    </div>
}


@getCheckBoxVaule(keyInForm: String) = @{
    if(isCreate) false
    else oF(keyInForm).value match {
        case None => false
        case Some(value) => value.toBoolean
    }
}

@createBooleanInput(nameInForm:String, trueLabel:String, falseLabel:String, checked:Boolean = false, col:String = "auto") = {
    <input id="@nameInForm" name="@nameInForm" value="@checked" style="display: none">
    @if(checked) {
        <button id="@nameInForm-button" class="btn col-@col btn-success" type="button" onclick="changeButton(`@nameInForm-button`, `@trueLabel`, `@falseLabel`, `@nameInForm`);">
            @trueLabel
        </button>
    } else {
        <button id="@nameInForm-button" class="btn col-@col btn-danger" type="button" onclick="changeButton(`@nameInForm-button`, `@trueLabel`, `@falseLabel`, `@nameInForm`);">
            @falseLabel
        </button>
    }
}
@main(title) {
    <div class="container-fluid">
        <div id="customerInformation" class="row">
            <form>
                <div id="searchDIV" class="input-group col-md"  style="display: ">
                    <input id="search" name="search" type="search" class="form-control dropdown-toggle col-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div id="searchMenu" class="dropdown-menu">
                        <span class="dropdown-header">Тут можна знайти Клієнта</span>
                    </div>
                    <input type="button" id="searchSubmit" value="Пошук" class="btn btn-primary offset-sm-1">
                </div>
                <script>
                        $(document).ready(function () {
                           $("#search").keyup(
                              function() {
                                  let searchParams = $("#search").val()
                                  if (searchParams.length === 0)  cleanDropMenu();
                                  else {}
                              }
                          );
                          $("#searchSubmit").click(
                              function() {
                                  let searchParams = $("#search").val()
                                  $.get("/searchCustomerForOrder?search=" + searchParams, function (data) { takeCustomerJSONAddToUI(data) })
                              }
                          );
                        })
                    </script>
            </form>
           <!-- <a class="colLast btn btn-success disabled" id="add" href="@routes.CustomerController.toCreateCustomerPage()">Додати</a> -->
        </div>
    </div>
    @form(formCall) {
        <fieldset>
            @CSRF.formField
            <div class="container-fluid row">
                <input id="customersID" name="customersID" style="display: none">
            </div>
            <input name="orderDay" type="text" value="@formattingDateForForm(new Date())" style="display: none">
            <input name="deliveryDay" type="text" value="@getNextSunday" style="display: none">
            <label class="label" for="dataInput">Час доставки </label>
            <div id="dataInput" class="container-fluid row">
                <input id="deliverFrom" name="deliverFrom" type="text" class=" col-auto">
                     <b class="col-auto"> По </b>
                <input id="deliverTo" name="deliverTo" type="text" class=" col-auto">
            </div>
            @inputText(oF("total"))
            <div class="container-fluid row">
                @createBooleanInput("paid", "Оплаченно", "Не оплаченно", getCheckBoxVaule("paid"))
                @createBooleanInput("delivered", "Доставленно", "Не доставленно", getCheckBoxVaule("delivered"))
            </div>
            @inputStuffInOrder
            <div class="form-group">
                <label for="note">Нотатка</label>
                <textarea class="form-control" id="note" name="note" rows="3">@insertNotes(oF.value)</textarea>
            </div>
        </fieldset>

        <div class="actions">
            <input type="submit" value="@buttonLabel" class="btn btn-primary"> Або
            <a href="@routes.OrderController.toOrderFeedPage("")" class="btn">Скасувати</a>
        </div>
    }
    <script charset="UTF-8" src="@routes.Assets.versioned("javascript/orderScript.js")"></script>
 @* <script charset="utf-8" type="text/javascript" src="@routes.HomeController.javascriptRoutes"></script> *@
}