@(customers: Seq[Customer])(implicit request: MessagesRequestHeader)
@import helper._

@header() = {
    @List("ID", "Ім'я", "Прізвище", "Телефон", "Власник Телефону", "Телефон 2", "Власник Дод. Телефону",
        "Місто", "Адреса", "Instagram", "Надає перевагу", "Нотатка").zipWithIndex.map { case (i, header) =>
            <th class="col@{i + 1} header">
                @header
            </th>
    }
}
@*TODO: refactor this*@
@adrressBuilder(name: String, variable: Option[String], comaInTheEnd: Boolean = true) = {
    @if(variable.nonEmpty) {
        @{
         val full = name + ": " + variable.get
         if(comaInTheEnd) full + "," else full
        }
    } else {}
}

@main("Клієнти") {

    @request.flash.get("success").map { message =>
        <div class="alert-success">
            <strong>Готово!</strong> @message
        </div>
    }
    @request.flash.get("error").map { message =>
        <div class="alert-danger">
            <strong>@message</strong>
        </div>
    }

    <div class="container-fluid">
        <div class="row">
            @form(routes.CustomerController.search(""), Symbol("class") -> "colFirst") {
                <input type="search" name="search">
                <input type="submit" id="searchSubmit" value="Пошук" class="btn btn-primary">
            }
            <div class="col"></div>
            <a class="colLast btn btn-success" id="add" href="@routes.CustomerController.toCreateCustomerPage()">Додати Клієнта</a>
        </div>
    </div>

    <div id="table">
        @if(customers.nonEmpty) {
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                @header()
                </tr>
            </thead>
            <tbody>
            @customers.map { c =>
                <tr>
                    <td><a href="@routes.CustomerController.toEditCustomerPage(c.id.head)">@c.id</a></td>
                    <td>@c.firstName</td>
                    <td>@c.lastName.getOrElse("-")</td>
                    <td>@c.phone</td>
                    <td>@c.phoneNote.getOrElse("-")</td>
                    <td>@c.phone2.getOrElse("-")</td>
                    <td>@c.phoneNote2.getOrElse("-")</td>
                    <td>@c.city</td>
                    <td>
                        @c.address,
                        @adrressBuilder("Під'їзд", c.entrance)
                        @adrressBuilder("Поверх", c.floor)
                        @adrressBuilder("Квартира", c.flat, comaInTheEnd = false)
                    </td>
                    <td>@c.instagram.getOrElse("-")</td>
                    <td>@c.preferences.getOrElse("-")</td>
                    <td>@c.notes.getOrElse("-")</td>
                </tr>
            }
            </tbody>
        </table>
    } else {
        <h4 class="alert-info">Тут нікого не має, мяу</h4>
    }
    </div>
}