@import models.OrderMenu
@import services.SimbaHTMLHelper._
@import services.SimbaAlias.ID
@(id:Int,
        oF: Form[OrderForEditAndCreate],
        menus: List[OrderMenu],
        inOrderToTextCost: Map[String, (ID, String, Int)])(implicit requestHeader: MessagesRequestHeader)

@createOrEditOrderTemplate(s"Замовлення $id",
    routes.OrderController.updateOrder(id),
    oF,
    buttonLabel = "Змінити",
    menus,
    isCreate = false,
    inOrderToTextCost,
    getValueFromForm("customerId", oF).map(_.toInt)
)