@import models.OrderMenu
@import services.SimbaHTMLHelper._
@import services.SimbaAlias.ID
@(id:Int,
        oF: Form[OrderInput],
        menus: Seq[OrderMenu],
        inOrderToTextCost: Map[String, (ID, String, Int)],
        payments: List[String]
)(implicit requestHeader: MessagesRequestHeader)

@createOrEditOrderTemplate(s"Замовлення $id",
    routes.OrderController.updateOrder(id),
    oF,
    buttonLabel = "Змінити",
    menus,
    isCreate = false,
    inOrderToTextCost,
    payments,
    getValueFromForm("customerId", oF).map(_.toInt)
)