@(id:String, cF: Form[Customer], name: String)(implicit requestHeader: MessagesRequestHeader)

    @import views.html.helper._

@creteAnInput(keyInForm: String, label: String, layOutClass: String = "", showError: Boolean = false) = {
@if(showError && cF.hasErrors) {
    @inputText(cF(keyInForm), '_label -> label, '_help -> "", '_error -> "Це поле повино бути повним", '_class -> layOutClass)
} else {
    @inputText(cF(keyInForm), '_label -> label, '_help -> "",'_class -> layOutClass)
}
}

    @mainView(s"Клієнт $id: $name") {
        <h1>Змінити наявного Клієнта</h1>

    @form(routes.CustomerController.update()) {
        <fieldset>
            @CSRF.formField
            <div class="container-fluid row">
                @creteAnInput("firstName", "Ім'я *", "col1", showError = true)
                @creteAnInput("lastName", "Прізвище", "offset col-auto")
            </div>

            <div class="container-fluid row">
                @creteAnInput("phone", "Телефон *", "colFirst", showError = true)
                @creteAnInput("phoneNote", "Як звиртатися", "offset col-auto")
            </div>
            <div class="container-fluid row">
                @creteAnInput("phone2", "Додатковий Телефон", "colFirst")
                @creteAnInput("phoneNote2", "Власник Дод. Телефону", "offset col-auto")
            </div>
            <div class="container-fluid row">
                @creteAnInput("city", "Місто *", "colFirst", showError = true)
                @creteAnInput("address", "Адресса *", "offset col-auto", showError = true)
                @creteAnInput("entrance", "Під'їзд", "offset col-auto")
                @creteAnInput("floor", "Поверх", "offset col-auto")
                @creteAnInput("flat", "Квартира", "offset col-auto")
            </div>
            @creteAnInput("instagram", "Instagram")
            @creteAnInput("preferences", "Надає перевагу")
            @creteAnInput("notes", "Нотатка")
        </fieldset>

        <div class="actions">
            <input type="submit" value="Змінити" class="btn-primary"> Або
            <a href="@routes.CustomerController.toCustomersListPage()" class="btn">Скасувати</a>
        </div>
    }

}