@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="uk">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")"/>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <header class="top bg-dark">
            <h1 class="text-white">@title</h1>
        </header>
        <section class="container-fluid">
            @content
        </section>
    </body>
</html>
