@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="uk">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")"/>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <header class="top bg-dark">
            <meta charset='utf-8'>
            <h1 class="text-white">@title</h1>
            <a class="text-white" href="@routes.HomeController.index()">Головна</a>
        </header>
        <section class="container-fluid">
            @content
        </section>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")"></script>
    </body>
</html>
