@import views.html.helper._
@import services.SimbaHTMLHelper._
@import java.util.Date

@(title: String, date: Option[Date], menuType: Int)(implicit messagesRequestHeader: MessagesRequestHeader)


@main(title) {
    @getFlash()
    @form(routes.OfferController.toCreateOfferPage(menuType)) {
        <input name="date" value="@formattingOptionDateForForm(date)" style="display: none">
        <input class="btn btn-info" value="Встановити" type="submit">
    }
    @form(routes.OfferController.toOfferPreferencePage(s"Зміна ${convertMenuTypeToString(menuType)}", menuType)) {
        <input name="date" value="@formattingOptionDateForForm(date)" style="display: none">
        <input class="btn btn-primary" value="Налаштування" type="submit">
    }

}